.slider__app{
    border-radius: 21px;
    overflow: hidden;
    margin-top: 54px;
    .swiper-slide{
        height: 346px;
        background: url('../../assets/bg.png');
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        img{
            border-radius: 21px;
            position: absolute;
            right: 0;
            height: 100% !important;
        }
    }
    .swiper-pagination{
        padding-left: 20px;
        bottom: 60px;
        display: flex;
        justify-content: start;
        .swiper-pagination-bullet{
            border-radius: 0px;
            width: 40px;
            height: 3px; 
            background-color: grey;
        }
        .swiper-pagination-bullet-active{
            background-color: white;
        }
    }
}